# Blender
# *.blend
*.blend1
*.blend.x

# X3d
*.x3d

# Unity
*.unitypackage

# Imagens
Blender/*/*/*.png
Blender/*/*.jpg
Blender/*/*/*.JPG
Blender/*/*/*.raw
Blender/*/*/*.tiff
Blender/*/*.jpeg

# Outros aquivos 3D
*.3ds
*.mtl
*.obj
*.dxf
*.lwo
*.tif
*.dae
*.fbx
*.max
*.bmp
*.3dc
*.pov
*.txt
*.gsm
*.tga

# Pastas específicas
.t/
Arquivos não usados - alguns sim/
Imagens usadas TCC/
porta/